@import 'functions';
@import 'variables';
@import 'mixins';

@import 'reset';
@import 'type';

body {
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  background: $background;
  color: $text;
  position: relative;
}

.hidden {
  display: none;
  opacity: 0;
}

.btn {
  background: transparent;
  border: 1px solid $highlight;
  color: $highlight;
  border-radius: 5px;
  padding: .5rem 1rem;
  display: block;
  margin: 1rem auto;

  @include min(750px) {
    display: inline-block;
    margin: 1rem .5rem;
  }

  &:hover, &:focus, &:active {
    border-color: $hover;
    color: $hover;
    cursor: pointer;
    outline: none;
  }
}

a:link, a:visited {
  color: $highlight;

  &:hover, &:focus, &:active {
    color: $hover;
  }
}

footer {
  font-size: .75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;

  @include min(750px) {
    padding: 2rem;
  }
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.password {
  font-size: $heading-type;
  margin: 0;
}